In [1]:
import pandas as pd
import numpy as np

In [2]:
df_canle = pd.read_csv(r"C:\Users\Mcc\Desktop\Data\Historical Data\Candlesticks\Completed\BTCUSDT-2024-04-01 - 2024-04-17 - 5M.csv")
df_agg = pd.read_csv(r"C:\Users\Mcc\Desktop\Data\Historical Data\Agg Volumes\Completed\BTCUSDT-aggTrades-2024-04-01-2024-04-17 -COINM- Resampled 5M.csv")
# df_fund = pd.read_csv(r"C:\Users\Mcc\Desktop\Data\Historical Data\.All in One\BTCUSDT-fundingRate-2020-01-2024-03- Resampled 1M.csv")
df_liquid = pd.read_csv(r"C:\Users\Mcc\Desktop\Data\Historical Data\Liquidation\Completed\BTCUSDT-liquidationSnapshot-2024-04-01-2024-04-17-Resampled 5M.csv")

In [3]:
df_canle = pd.read_csv(r"C:\Users\Mcc\Desktop\Data\Historical Data\.All in One\BTCUSDT-5m-2020-01-2024-03.csv")
df_agg = pd.read_csv(r"C:\Users\Mcc\Desktop\Data\Historical Data\.All in One\BTCUSDT-aggTrades-2020-01-2024-03 - Resampled 5M.csv")
# df_fund = pd.read_csv(r"C:\Users\Mcc\Desktop\Data\Historical Data\.All in One\BTCUSDT-fundingRate-2020-01-2024-03- Resampled 5M.csv")
df_liquid = pd.read_csv(r"C:\Users\Mcc\Desktop\Data\Historical Data\.All in One\BTCUSDT-liquidationSnapshot-2023-12-01-2024-03-31-Resampled 5M.csv")
# df_metrics = pd.read_csv(r"C:\Users\Mcc\Desktop\Data\Historical Data\.All in One\BTCUSDT-metrics-2023-12-01-2024-03-31-Resample 5M.csv")

In [3]:
df_canle

,open_time,open,high,low,close,volume,quote_volume,count,taker_buy_volume,taker_buy_quote_volume
0,2024-04-01 00:00:00,71363.0,71388.0,71200.0,71323.7,1551.338,1.106063e+08,21436,576.616,4.111328e+07
1,2024-04-01 00:05:00,71323.6,71339.7,71193.2,71295.3,630.072,4.489739e+07,11151,201.764,1.437777e+07
2,2024-04-01 00:10:00,71295.2,71295.3,71204.9,71230.0,451.267,3.214895e+07,6729,167.854,1.195777e+07
3,2024-04-01 00:15:00,71230.0,71286.6,71182.5,71286.6,623.674,4.442764e+07,8418,330.932,2.357946e+07
4,2024-04-01 00:20:00,71286.5,71286.9,71229.7,71261.4,202.889,1.445906e+07,5048,81.038,5.775295e+06
...,...,...,...,...,...,...,...,...,...,...
4891,2024-04-17 23:35:00,61264.6,61316.6,61255.8,61295.8,432.715,2.651990e+07,6503,267.946,1.642198e+07
4892,2024-04-17 23:40:00,61295.8,61342.4,61211.2,61292.8,277.856,1.702538e+07,5767,147.509,9.039543e+06
4893,2024-04-17 23:45:00,61292.8,61329.8,61266.6,61294.8,298.062,1.827199e+07,5724,171.832,1.053416e+07
4894,2024-04-17 23:50:00,61294.9,61348.9,61266.8,61266.8,336.258,2.061329e+07,5911,115.579,7.085577e+06
4895,2024-04-17 23:55:00,61266.8,61266.8,61204.1,61254.5,259.874,1.591271e+07,5015,123.628,7.570519e+06

In [11]:
df_agg

                date_time   volume_true  volume_false  vdiff(false-true)
0     2024-04-01 00:00:00  6.949298e+07  4.111328e+07      -2.837970e+07
1     2024-04-01 00:05:00  3.051962e+07  1.437777e+07      -1.614185e+07
2     2024-04-01 00:10:00  2.019117e+07  1.195777e+07      -8.233402e+06
3     2024-04-01 00:15:00  2.084818e+07  2.357946e+07       2.731287e+06
4     2024-04-01 00:20:00  8.683766e+06  5.775295e+06      -2.908472e+06
...                   ...           ...           ...                ...
4891  2024-04-17 23:35:00  1.009792e+07  1.642198e+07       6.324065e+06
4892  2024-04-17 23:40:00  7.985832e+06  9.039543e+06       1.053711e+06
4893  2024-04-17 23:45:00  7.737830e+06  1.053416e+07       2.796334e+06
4894  2024-04-17 23:50:00  1.352772e+07  7.085577e+06      -6.442139e+06
4895  2024-04-17 23:55:00  8.342189e+06  7.570519e+06      -7.716707e+05

[4896 rows x 4 columns]

In [10]:
df_liquid

,date_time,side,original_volume,last_fill_volume,accumulated_fill_volume
0,2024-04-01 00:00:00,SELL,5403752.0,5403752.0,5403752.0
1,2024-04-01 00:05:00,0,0.0,0.0,0.0
2,2024-04-01 00:10:00,0,0.0,0.0,0.0
3,2024-04-01 00:15:00,0,0.0,0.0,0.0
4,2024-04-01 00:20:00,0,0.0,0.0,0.0
...,...,...,...,...,...
4885,2024-04-17 23:05:00,BUY,6319144.8,2849810.4,6319144.8
4886,2024-04-17 23:10:00,0,0.0,0.0,0.0
4887,2024-04-17 23:15:00,0,0.0,0.0,0.0
4888,2024-04-17 23:20:00,0,0.0,0.0,0.0
4889,2024-04-17 23:25:00,SELL,122124.4,122124.4,122124.4

In [4]:
# df_canle = df_canle.drop(columns=["ignore"])
df_agg = df_agg.drop(columns=["Unnamed: 0"])
# df_fund = df_fund.drop(columns=["Unnamed: 0",'funding_interval_hours'])
# df_metrics = df_metrics.drop(columns=["Unnamed: 0"])

In [5]:
df_canle = df_canle.rename(columns={"open_time": "date_time"})
df_agg = df_agg.rename(columns={"transact_time": "date_time"})
# df_fund = df_fund.rename(columns={"index": "date_time"})
df_liquid = df_liquid.rename(columns={"time": "date_time"})
#df_metrics = df_metrics.rename(columns={"create_time": "date_time"})

In [6]:
df_canle["log"] = np.log(df_canle["close"])
df_canle["returns"] = df_canle["low"].pct_change()
df_canle["range"] = (df_canle["high"] / df_canle["low"]) - 1

In [6]:
all_in_one_p1 = pd.merge(df_canle,df_agg, on="date_time", how="inner")
all_in_one_p2 = pd.merge(all_in_one_p1, df_liquid, on="date_time", how="inner")
# all_in_one_p3 = pd.merge(all_in_one_p2,df_metrics, on="date_time", how="inner")
# all_in_one_p4 = pd.merge(all_in_one_p1, all_in_one_p3, on="date_time", how="inner")

In [11]:
all_in_one_p2

,open,high,low,close,volume,quote_volume,count,taker_buy_volume,taker_buy_quote_volume,volume_true,volume_false,vdiff(false-true),side,original_volume,last_fill_volume,accumulated_fill_volume
date_time,,,,,,,,,,,,,,,,
2024-04-01 00:00:00,71363.0,71388.0,71200.0,71323.7,1551.338,1.106063e+08,21436,576.616,4.111328e+07,9.858636e+09,9.702237e+09,-1.563994e+08,SELL,5403752.0,5403752.0,5403752.0
2024-04-01 00:05:00,71323.6,71339.7,71193.2,71295.3,630.072,4.489739e+07,11151,201.764,1.437777e+07,4.514739e+09,7.670759e+09,3.156019e+09,0,0.0,0.0,0.0
2024-04-01 00:10:00,71295.2,71295.3,71204.9,71230.0,451.267,3.214895e+07,6729,167.854,1.195777e+07,2.025703e+09,3.125270e+09,1.099567e+09,0,0.0,0.0,0.0
2024-04-01 00:15:00,71230.0,71286.6,71182.5,71286.6,623.674,4.442764e+07,8418,330.932,2.357946e+07,2.388295e+09,3.888703e+09,1.500408e+09,0,0.0,0.0,0.0
2024-04-01 00:20:00,71286.5,71286.9,71229.7,71261.4,202.889,1.445906e+07,5048,81.038,5.775295e+06,1.318613e+09,2.378502e+09,1.059889e+09,0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-04-17 23:05:00,61577.4,61743.7,61529.6,61676.8,643.289,3.966970e+07,10868,359.219,2.215607e+07,1.819009e+09,2.869762e+09,1.050753e+09,BUY,6319144.8,2849810.4,6319144.8
2024-04-17 23:10:00,61676.6,61700.0,61554.1,61554.1,498.433,3.071231e+07,8083,117.106,7.216019e+06,1.425538e+09,4.901034e+08,-9.354346e+08,0,0.0,0.0,0.0
2024-04-17 23:15:00,61554.1,61554.1,61363.6,61366.4,846.756,5.202591e+07,13121,227.749,1.399381e+07,2.226609e+09,1.339431e+09,-8.871777e+08,0,0.0,0.0,0.0
2024-04-17 23:20:00,61366.4,61397.7,61345.0,61365.5,479.846,2.944704e+07,8809,198.138,1.215926e+07,1.585021e+09,1.689599e+09,1.045782e+08,0,0.0,0.0,0.0
2024-04-17 23:25:00,61365.5,61365.6,61218.8,61248.0,1093.849,6.701037e+07,14027,386.775,2.369448e+07,2.774367e+09,1.403651e+09,-1.370716e+09,SELL,122124.4,122124.4,122124.4

In [10]:
all_in_one_p2.dropna(inplace=True)
all_in_one_p2.set_index("date_time", inplace=True)

In [12]:
all_in_one_p2.to_csv('BTC-Dataset-COINM-2024-04-01 - 2024-04-17 - 5M.csv')